#byui-text {
    font-size: small;
    color: #006eb6;
    letter-spacing: 3px;
}

header {
    text-align: center;
    letter-spacing: 1px;
}

#logos {
    text-align: center;
    margin: 0 auto;
}

img {
    width: 10%;
}